@charset "UTF-8";


/* TELAS DESKTOP */





/* HEADER _____________________________________________________________________________________________________________________*/


    header
    {  
        padding-top: 3.5em;
    }

    header > div
    {
        flex-direction: row;
        align-items: center;
    }






/* MAIN _______________________________________________________________________________________________________________________*/



    section#apres > div:nth-of-type(1) > h2 { display: none; }
    section#apres > div:nth-of-type(2) > h2 { display: block; }





/* Div Img */

    section#apres > div:nth-of-type(1)
    {
        border-radius: 1em;
        max-height: 18em;
        border: none;
    }





/* Div Txt */

    section#apres > div > p
    {  
        padding: 0.5em 1em;
    }

    section#apres > div > h2
    {
        text-indent: 0em;
        padding: 0.25em 0.5em;
    }



/* FOOTER _____________________________________________________________________________________________________________________*/


    footer
    {
        padding: 0em 6em;
    }