@charset "UTF-8";


/* TELAS DESKTOP */






header {  /* Header -------------------------------------------------------------------------------------------------------------------- */

  padding-top: 3.5em;
} header > div {

  flex-direction: row;
  align-items: center;
}










section#apres > div:nth-of-type(1) > h2 { display: none; }
section#apres > div:nth-of-type(2) > h2 { display: block; }




section#apres > div:nth-of-type(1) {  /* Div Img */
  border-radius: 1em;
  max-height: 18em;
  border: none;
}




section#apres > div > p {  /* Div Txt */
  padding: 0.5em 1em;
} section#apres > div > h2 {
  text-indent: 0em;
  padding: 0.25em 0.5em;
}




footer {
  padding: 0em 6em;
}